@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

:root {
	--black-400: #050505;
	--black-300: #1f1f1f;
	--black-200: #2d2d2d;
	--black-100: #3a3a3a;
	--gray-300: #757575;
	--gray-200: #e9e9e9;
	--gray-100: #f4f4f4;
	--white-100: #ffffff;
	--purple-100: #a445ed;
	--red-100: #ff5252;

	--background: var(--white-100);
}

body {
	--font-family: var(--font-sans);
	--text-color: var(--black-200);
	--select-shadow-color: rgba(0, 0, 0, 0.1);

	font-family: var(--font-family);

	background: var(--background);
	color: var(--text-color);

	transition:
		background 0.3s,
		color 0.3s,
		fill 0.3s,
		backgrond-color 0.3s;
}

.sans {
	--font-family: var(--font-sans);
}

.serif {
	--font-family: var(--font-serif);
}

.mono {
	--font-family: var(--font-mono);
}

.dark {
	--background: var(--black-400);
	--text-color: var(--white-100);
	--select-shadow-color: var(--purple-100);
}
