@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

body {
	--font-family: var(--font-sans);
	font-family: var(--font-family);
}

.sans {
	--font-family: var(--font-sans);
}

.serif {
	--font-family: var(--font-serif);
}

.mono {
	--font-family: var(--font-mono);
}
